<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.almostthere.android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <data android:scheme="almostthere" android:host="join" />
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="www.almostthere.kr"/>
                <data android:scheme="http" android:host="almostthere.kr"/>
                <data android:scheme="@string/kakao_scheme"
                    android:host="@string/kakaolink_host" />
            </intent-filter>
        </activity>

        <activity android:name=".MapsActivity"/>

        <!-- Kakao SDK -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- Google Map -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBEnz4KWwmUxTuU_QxYEIJ5DQGAw575xNY" />
    </application>

</manifest>